header.carousel .fill {
    background-image: url(img/Resume.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel-indicators li {
    background-color: rgba(0,0,0,0);
    border: 1px solid #000;
}
